@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap')

// color variables
$dark-blue: hsl(233, 26%, 24%)
$lime-green: hsl(136, 65%, 51%)
$bright-cyan: hsl(192, 70%, 51%)
$grayish-blue: hsl(233, 8%, 62%)
$light-grayish-blue: hsl(220, 16%, 96%)
$very-light-gray: hsl(0, 0%, 98%)
$white: hsl(0, 0%, 100%)

*, *::before, *::after
  box-sizing: border-box

html
  scroll-behavior: smooth

body
  margin: 0
  font-size: 18px
  font-family: 'Public Sans', sans-serif